body {
 background-color: darksalmon;
}

main {
    font-family: cursive;
    font-size: 20px;
}
ul {
    color: deeppink;
}

ol {
    color: forestgreen;
}
img {
    border-radius: 20%;
    width: 200px;
}
h1 {
    color: indigo;
    font-size: 30px;
    text-align: center;
}